<div class='comments_page'>
<p>
  <strong>Name of commenter:</strong><br>
  <%= comment.commenter %>
</p>
<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>

<p>
  <%= link_to 'Destroy This Comment', [comment.article,comment],
              method: :delete,
              data: { comfirm: 'Are you sure?'} %>
</p>
</div>  