<h1 class="pageheader">Edit Article Page</h1>
<p id='link'>
<%= link_to 'Back to All Articles', articles_path %>
</p>
<%= render 'form' %>
 <p id='link'>
<%= link_to 'Back to All Articles', articles_path %>
</p>